@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  .input-box {
    @apply mt-1 block px-3 py-2 bg-white border border-slate-300 rounded-lg text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-[#103ADC] focus:ring-1 focus:ring-[#103ADC] disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 text-black;
  }

  .primary-btn {
    @apply transition-all duration-300 px-2 md:px-4 py-3 bg-[#103ADC] rounded-[10px] text-white text-xs md:text-lg border border-white border-opacity-40 hover:text-blue-600 hover:bg-white hover:border-blue-600;
  }

  .primary-outline-btn {
    @apply transition-all duration-300 px-2 md:px-4 py-3 bg-white rounded-[10px] text-[#103ADC] text-xs md:text-lg hover:bg-[#103ADC] hover:text-white border border-[#103ADC];
  }

  .disabled-btn {
    @apply px-2 md:px-4 py-3 bg-[#1039dc46] hover:bg-[#1039dc46] border-none hover:text-white rounded-[10px] text-white text-xs md:text-lg cursor-not-allowed;
  }

  .extraSmall-text {
    @apply text-[12px];
  }

  .small-text {
    @apply text-[17px];
  }

  .medium-text {
    @apply text-[20px];
  }

  .large-text {
    @apply text-[36px];
  }

  .heading2 {
    @apply text-[36px] text-[#292929];
  }

  .heading1 {
    @apply text-[36px] font-medium text-[#292929];
  }

  .errorMessageClass {
    @apply text-sm text-red-600 ml-1 font-bold md:font-medium;
  }

  .mobileBackButton {
    @apply fixed z-50 top-[23px] left-5;
  }
}
